<!-- templates/home.html-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <title RP Flask REST API></title>
    </head>
    <body>
        <h1>
            Hello, World!
        </h1>
        <ul>
            {%  for person in people %}
            <h2>{{ person.fname }} {{ person.lname }}</h2>
            <ul>
                {% for note in person.notes %}
                <li>
                    {{ note.content }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </body>
</html>
